<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Investments</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!--<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>-->
    <!--<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->

    <script type="text/javascript" th:src="@{/js/all-investments.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/all_investments.css">

</head>
<body>


<div th:replace="fragments/navbar :: navbar"></div>

<section class="home mb-5">
    <h2 class="welcome">Welcome!</h2>
</section>
<div style="height: 600px">
    <!-- just to make scrolling effect possible -->
    <h2 class="myH2">What is this?</h2>
    <p class="myP">The tool to track all your real estate investments in one place.</p>
    <p class="myP">Whether you need a mortgage calculator, equity tracker, age of major home components, or
        all your home, mortgage, and rental income information in one place... This app has you covered.</p>
    <p class="myP">Enjoy!</p>
    <p class="myP">~Jeffrey Manassa</p>
</div>

<script>
$('.nav').removeClass('affix');
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>


</body>
</html>